*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#rparent{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 90vh;
    padding: 20px;
    overflow-y: scroll;
    scrollbar-width: none;
}
.rcover{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    background-color: #f4f4f4;
    border: 1px solid #e4e4e4;
    border-radius: 10px;
    margin-bottom: 20px;
}
#rheader{
    display: flex;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding: 30px 40px;
    font-size: 2.5rem;
    font-weight: 600;
}
#rcontent{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: fit-content;
    /* height: 60%; */
    padding: 20px 40px;
    background-color: #fff;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
}
/* Entire Content */
#one, #two, #three, #four , #five, #six,#seven, #eight{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
}
label{
    display: flex;
    flex-direction: column;
    width: 24%;
    font-size: 1rem;
    font-weight: 500;
}
input, select{
    width: 100%;
    height: 50px;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 1rem;
    font-weight: 500;
    outline: none;
    margin-top: 10px;
}
#six label{
    justify-content: start;
}
#six label #free{
    width: 50px;
    height: 50px;
    border: 2px solid red;
}
#pic{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
}

#rfooter{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: fit-content;
    padding: 20px 40px;
}
#save, #save1, #exit{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    width: fit-content;
    border: 1px solid #e4e4e4;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin-left: 15px;
}
#save
{
    background-color: #1e90ff;
}
#save:hover{
    background-color: #0d74d1;
}
#save1
{
    background-color: #1e90ff;
}
#save1:hover{
    background-color: #0d74d1;
}
#exit{
    background-color: #ff4d4d
}
#exit:hover{
    background-color: #cc0000;
}


/* style for file input */
      .file-input-label {
        background-color: #1e90ff;
        color: white;
        border-radius: 5px;
        font-size: 14px;
        user-select: none;
        transition: background-color 0.3s ease;
      }

      .file-input-label:hover {
        background-color: #0d74d1;
      }

 #footer #edit,
  #close,
  #save{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 10px 20px;
    width: fit-content;
    border: 1px solid #e4e4e4;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin-left: 15px;
  }
  