table{
    width: 100%;
    border-collapse: collapse;
}
table, th, td{
    border: 1px solid rgba(0, 0, 0, 0.2);
}
th{
    background-color: #333;
    color: #fff;
}
th, td{
    padding: 8px 0;
    font-weight: 500;
    text-align: center;
}

.search_bar{
    display: flex;
    width: 100%;
    height: 80px;
}
.search_bar .sright, .search_bar .sleft{
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 40%;
    height: 100%;
}
.search_bar .sleft{
    width: 60%;
}
.search_bar .sright input , .search_bar .sright select{
    width: 40%;
}

#pagination {
        display: flex;
        justify-content: start;
        align-items: center;
        border: 1px solid #888;
        border-radius: 5px;
        overflow: hidden;
      }

      #pagination-buttons button {
        padding: 6px 12px;
        cursor: pointer;
        border: none;
        outline: none;
        background-color: #eee;
        transition: background-color 0.3s ease;
      }

      #pagination-buttons button:not(:last-child) {
        border-left: 1px solid #888;
      }

      #pagination-buttons button:hover:not(:disabled) {
        background-color: #357edd;
        color: white;
      }

      #pagination-buttons button:disabled {
        cursor: default;
        opacity: 0.5;
      }

      /* Action */
      #cover {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      #action {
        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;
        height: 36px;
        border-radius: 10px;
        overflow: hidden;
      }

      #action1,
      #action2,
      #action3 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 100%;
        cursor: pointer;
      }

      #action1 {
        background-color: #4a90e2;
      }
      #action2 {
        background-color: #82dd55;
      }
      #action3 {
        background-color: #e23636;
      }

      #action1:hover,
      #action2:hover,
      #action3:hover {
        filter: brightness(1.15);
        transition: all 0.3s ease;
      }

      /* Modal */
      .modal {
        display: none;
        position: fixed;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        top: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.6);
        overflow: auto;
      }
      .modal-content {
        background: #fff;
        width: fit-content;
        height: fit-content;
        border-radius: 10px;
        position: relative;
      }
      
