*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.reportsParent{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: red;
}