<form id="catagory_form" lang="fa" dir="rtl">
  <div id="header_modal">ایجاد کتگوری</div>
  <div id="content_modal">
    <div id="right_content_modal">
      <!-- First Section -->
      <div class="section">
        <label for="name">کتگوری<input id="name" type="text" name="catagory"  required/></label>
      </div>
    </div>
  </div>
  <div id="footer_modal">
    <input type="submit" id="save_modal" value="ذخیره نمودن">
    <div id="close" onclick="closeModal();">بستن</div>
  </div>
</form>

<style>
  @font-face {
    font-family: "BYekan";
    src: url("./Fonts/BYekan+.ttf") format("truetype");
    font-family: "BYekanBold";
    src: url("./Fonts/BYekan+\ Bold.ttf") format("truetype");
    font-family: "FarYekan";
    src: url("./Fonts/Far_Yekan.ttf") format("truetype");
  }
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "BYekanBold", sans-serif;
  }
  #catagory_form {
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 30vh;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    border: 1px solid #e4e4e4;
    border-radius: 10px;
  }
  #header_modal {
    display: flex;
    width: 100%;
    height: 30%;
    justify-content: start;
    align-items: center;
    padding: 0 30px;
    font-size: 1.5rem;
    font-weight: bold;
  }
  #content_modal {
    display: flex;
    width: 100%;
    height: 78%;
    background-color: #fff;
  }
  #right_content_modal {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    width: 100%;
    height: 100%;
  }
  #right_content_modal .section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-left: 1px solid #e4e4e4;
    padding: 0 30px;
  }
  #right_content_modal div:nth-child(3) {
    border: none;
  }
  #right_content_modal .section label {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 1rem;
    font-weight: 500;
    padding: 10px 20px 0 20px;
  }
  #right_content_modal .section label input,
  select {
    width: 100%;
    height: 50px;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 1rem;
    font-weight: 500;
    outline: none;
    margin-top: 10px;
  }
  #footer_modal {
    display: flex;
    padding: 20px 30px;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 25%;
  }
  #footer_modal
  #close,
  #save_modal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    padding: 10px 20px;
    width: fit-content;
    border: 1px solid #e4e4e4;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin-left: 15px;
  }
  #save_modal {
    margin: 0 0 0 15px;
  }
  #close {
    background-color: #ff4d4d;
  }
  #save_modal {
    background-color: #1e90ff;
  }
  #save_modal:hover {
    background-color: #0d74d1;
  }
  #close:hover{
    background-color: #cc0000;
  }


</style>
